[submodule "service-registry"]
	path = service-registry
	url = https://github.com/Ashen-nuwantha2003/capstone-project-platform-service-registry.git
[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/Ashen-nuwantha2003/capstone-project-platform-Api-Gateway.git
[submodule "config-server"]
	path = config-server
	url = https://github.com/Ashen-nuwantha2003/capstone-project-platform-config-server.git
